.nav-link {
  padding: 5px 10px;
  margin-right: 20px;
  transition: all 0.2s ease-in;
}

.nav-link:last-of-type {
  margin-right: 0;
  padding: 15px 30px;
  border: 2px solid #69EED3;
  border-radius: 20px;
}

.nav-link:last-of-type:hover {
  background: rgba(255, 255, 255, 0.1);
  opacity: 1;
}

.nav-link:hover {
  opacity: 0.5;
}